In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('./datasets/df_final_0627.csv')
df

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채5년(평균),국고채10년(평균),...,CD91물(평균),BOK기준금리,건물연식,GDP대비가계부채비율,환율종가,금값종가,선행지수순환변동치,EPU,장단기금리spread,물건금액(만원)
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,25,83.3,1175.45,76.81,99.6,177.148845,0.14,18000
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,26,83.3,1175.45,76.81,99.6,177.148845,0.14,55200
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,14,83.3,1175.45,76.81,99.6,177.148845,0.14,36800
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,6,83.3,1175.45,76.81,99.6,177.148845,0.14,67600
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,26,83.3,1175.45,76.81,99.6,177.148845,0.14,30300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536092,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,18,105.0,1260.92,76.11,99.1,169.662386,0.39,250000
536093,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,34,105.0,1260.92,76.11,99.1,169.662386,0.39,138000
536094,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,14,105.0,1260.92,76.11,99.1,169.662386,0.39,172000
536095,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,26,105.0,1260.92,76.11,99.1,169.662386,0.39,37000
536096,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,19,105.0,1260.92,76.11,99.1,169.662386,0.39,76500

In [28]:
df.drop('금값종가', axis = 1, inplace= True)

In [29]:
gold = pd.read_csv('./datasets/XAU_USD 과거 데이터.csv')
gold

                날짜        종가        시가        고가        저가  거래량    변동 %
0     2022- 12- 30  1,824.40  1,815.14  1,826.73  1,809.84  NaN   0.52%
1     2022- 12- 29  1,814.89  1,804.16  1,820.52  1,802.02  NaN   0.60%
2     2022- 12- 28  1,804.09  1,814.00  1,815.18  1,796.56  NaN  -0.54%
3     2022- 12- 27  1,813.93  1,796.67  1,833.39  1,796.20  NaN   0.91%
4     2022- 12- 26  1,797.61  1,798.57  1,798.78  1,798.04  NaN  -0.02%
...            ...       ...       ...       ...       ...  ...     ...
1818  2016- 01- 07  1,109.25  1,094.45  1,110.20  1,091.09  NaN   1.35%
1819  2016- 01- 06  1,094.45  1,077.55  1,095.45  1,074.70  NaN   1.56%
1820  2016- 01- 05  1,077.66  1,074.66  1,082.30  1,072.70  NaN   0.28%
1821  2016- 01- 04  1,074.70  1,065.36  1,083.70  1,061.90  NaN   1.32%
1822  2016- 01- 01  1,060.74  1,061.21  1,061.41  1,060.74  NaN  -0.05%

[1823 rows x 7 columns]

In [30]:
# 필요한 컬럼만 추출
gold = gold[['날짜', '종가']]
gold

                날짜        종가
0     2022- 12- 30  1,824.40
1     2022- 12- 29  1,814.89
2     2022- 12- 28  1,804.09
3     2022- 12- 27  1,813.93
4     2022- 12- 26  1,797.61
...            ...       ...
1818  2016- 01- 07  1,109.25
1819  2016- 01- 06  1,094.45
1820  2016- 01- 05  1,077.66
1821  2016- 01- 04  1,074.70
1822  2016- 01- 01  1,060.74

[1823 rows x 2 columns]

In [31]:
# 컬럼이름 변경
gold = gold.rename(columns={'날짜' : '계약일', '종가' : '금값종가'})

In [32]:
# 시계열 변경
df['계약일'] = pd.to_datetime(df['계약일'])
gold['계약일'] = pd.to_datetime(gold['계약일'])

In [33]:
# 합치기
merged_df1 = pd.merge(df, gold, on='계약일', how='left')

In [34]:
merged_df1

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채5년(평균),국고채10년(평균),...,CD91물(평균),BOK기준금리,건물연식,GDP대비가계부채비율,환율종가,선행지수순환변동치,EPU,장단기금리spread,물건금액(만원),금값종가
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,25,83.3,1175.45,99.6,177.148845,0.14,18000,"1,060.74"
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,26,83.3,1175.45,99.6,177.148845,0.14,55200,"1,060.74"
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,14,83.3,1175.45,99.6,177.148845,0.14,36800,"1,060.74"
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,6,83.3,1175.45,99.6,177.148845,0.14,67600,"1,060.74"
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.67,1.50,26,83.3,1175.45,99.6,177.148845,0.14,30300,"1,060.74"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536092,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,18,105.0,1260.92,99.1,169.662386,0.39,250000,NaN
536093,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,34,105.0,1260.92,99.1,169.662386,0.39,138000,NaN
536094,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,14,105.0,1260.92,99.1,169.662386,0.39,172000,NaN
536095,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,26,105.0,1260.92,99.1,169.662386,0.39,37000,NaN
536096,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.59,3.54,...,4.02,3.25,19,105.0,1260.92,99.1,169.662386,0.39,76500,NaN

In [35]:
# LTV 파생변수 생성
merged_df1['LTV'] = np.NaN

# 타입 변환
merged_df1['계약일'] = pd.to_datetime(merged_df1['계약일'])

merged_df1.loc[merged_df1['계약일'] <= '2017-06-19', 'LTV'] = 0.7

# 17.06.19 
merged_df1.loc[(merged_df1['계약일'] > '2017-06-19')& (merged_df1['계약일'] <= '2017-08-02'), 'LTV'] = 0.6

# 17.08.02
merged_df1.loc[(merged_df1['계약일'] > '2017-08-02')&(merged_df1['계약일'] <= '2018-09-14'), 'LTV'] = 0.4

# 18.09.13 -> 1주택 가정 
    # 서울 전체 주택보유자 비율 훨씬 높음 2:1 
    # 부동산 거래Data 중에서도 서울 APT를 사는 사람은 기존 보유주택을 팔고 온것이라 가정
# merged_df1.loc[(merged_df1['계약일'] > '2018-09-14')& (merged_df1['계약일'] <= '2019-12-15'), 'LTV'] = 0.4
# merged_df1.loc[((merged_df1['계약일'] > '2018-09-14')& (merged_df1['계약일'] <= '2019-12-15')) & (merged_df1['물건금액(만원)']>90000), 'LTV'] = 0
merged_df1.loc[(merged_df1['계약일'] > '2018-09-14')& (merged_df1['계약일'] <= '2019-12-16'), 'LTV'] = 0

# 19.12.16
merged_df1.loc[(merged_df1['계약일'] > '2019-12-16'), 'LTV'] = 0.4
merged_df1.loc[(merged_df1['계약일'] > '2019-12-16') & (merged_df1['물건금액(만원)'] > 90000), 'LTV'] = 0.2
merged_df1.loc[(merged_df1['계약일'] > '2019-12-16') & (merged_df1['물건금액(만원)'] > 150000), 'LTV'] = 0

In [36]:
# '물건금액(만원)' 컬럼을 마지막으로 이동시키기
cols = merged_df1.columns.tolist()
cols.remove('물건금액(만원)')
cols.append('물건금액(만원)')
merged_df1 = merged_df1[cols]
merged_df1

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채5년(평균),국고채10년(평균),...,BOK기준금리,건물연식,GDP대비가계부채비율,환율종가,선행지수순환변동치,EPU,장단기금리spread,금값종가,LTV,물건금액(만원)
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,25,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,18000
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,26,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,55200
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,14,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,36800
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,6,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,67600
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,26,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,30300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536092,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,18,105.0,1260.92,99.1,169.662386,0.39,NaN,0.0,250000
536093,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,34,105.0,1260.92,99.1,169.662386,0.39,NaN,0.2,138000
536094,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,14,105.0,1260.92,99.1,169.662386,0.39,NaN,0.0,172000
536095,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,26,105.0,1260.92,99.1,169.662386,0.39,NaN,0.4,37000
536096,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,19,105.0,1260.92,99.1,169.662386,0.39,NaN,0.4,76500

In [37]:
merged_df1['금값종가'] = merged_df1['금값종가'].fillna(method='ffill')
merged_df1

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채5년(평균),국고채10년(평균),...,BOK기준금리,건물연식,GDP대비가계부채비율,환율종가,선행지수순환변동치,EPU,장단기금리spread,금값종가,LTV,물건금액(만원)
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,25,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,18000
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,26,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,55200
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,14,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,36800
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,6,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,67600
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.77,2.03,...,1.50,26,83.3,1175.45,99.6,177.148845,0.14,"1,060.74",0.7,30300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536092,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,18,105.0,1260.92,99.1,169.662386,0.39,"1,824.40",0.0,250000
536093,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,34,105.0,1260.92,99.1,169.662386,0.39,"1,824.40",0.2,138000
536094,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,14,105.0,1260.92,99.1,169.662386,0.39,"1,824.40",0.0,172000
536095,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,26,105.0,1260.92,99.1,169.662386,0.39,"1,824.40",0.4,37000
536096,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.59,3.54,...,3.25,19,105.0,1260.92,99.1,169.662386,0.39,"1,824.40",0.4,76500

In [38]:
merged_df1.to_csv('df_all_0629.csv', index = False, encoding='utf-8-sig')